WcfSERVER/WcfSERVER/Connected Services/ServiceRef/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfSERVER" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFserver" />
  <xs:element name="AddClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfSERVER" minOccurs="0" name="client" nillable="true" type="q1:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfSERVER" minOccurs="0" name="client" nillable="true" type="q2:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClients">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="order_by" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfSERVER" minOccurs="0" name="GetClientsResult" nillable="true" type="q3:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsByFIO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientsByFIOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfSERVER" minOccurs="0" name="GetClientsByFIOResult" nillable="true" type="q4:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfSERVER" minOccurs="0" name="GetClientByIDResult" nillable="true" type="q5:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountClientsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfSERVER" minOccurs="0" name="service" nillable="true" type="q6:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateService">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfSERVER" minOccurs="0" name="service" nillable="true" type="q7:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RestoreServiceResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WcfSERVER" minOccurs="0" name="GetServicesResult" nillable="true" type="q8:ArrayOfService" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetServiceByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WcfSERVER" minOccurs="0" name="GetServiceByIDResult" nillable="true" type="q9:Service" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountServices">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountServicesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountServicesResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WcfSERVER" minOccurs="0" name="worker" nillable="true" type="q10:Worker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddWorkerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WcfSERVER" minOccurs="0" name="worker" nillable="true" type="q11:Worker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateWorkerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteWorkerResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WcfSERVER" minOccurs="0" name="GetWorkersResult" nillable="true" type="q12:ArrayOfWorker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkersByFIO">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FIO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkersByFIOResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WcfSERVER" minOccurs="0" name="GetWorkersByFIOResult" nillable="true" type="q13:ArrayOfWorker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkerByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetWorkerByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WcfSERVER" minOccurs="0" name="GetWorkerByIDResult" nillable="true" type="q14:Worker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountWorkers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountWorkersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountWorkersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeWorker">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AuthorizeWorkerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WcfSERVER" minOccurs="0" name="AuthorizeWorkerResult" nillable="true" type="q15:Worker" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFserver" minOccurs="0" name="order" nillable="true" type="q16:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFserver" minOccurs="0" name="order" nillable="true" type="q17:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOrderResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrders">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="order_by" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFserver" minOccurs="0" name="GetOrdersResult" nillable="true" type="q18:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersByClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="count" type="xs:int" />
        <xs:element minOccurs="0" name="order_by" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrdersByClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCFserver" minOccurs="0" name="GetOrdersByClientResult" nillable="true" type="q19:ArrayOfOrder" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOrderByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFserver" minOccurs="0" name="GetOrderByIDResult" nillable="true" type="q20:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CountOrders">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CountOrdersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CountOrdersResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintOrder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID" type="xs:int" />
        <xs:element minOccurs="0" name="type" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrintOrderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrintOrderResult" nillable="true" type="xs:base64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcOrderCost">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCFserver" minOccurs="0" name="order" nillable="true" type="q21:Order" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcOrderCostResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcOrderCostResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>