WcfSERVER/WcfSERVER/Connected Services/ServiceRef/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="main" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfSERVER" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFserver" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IClients_AddClient_InputMessage">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="IClients_AddClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClients_UpdateClient_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClient" />
  </wsdl:message>
  <wsdl:message name="IClients_UpdateClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClients_DeleteClient_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClient" />
  </wsdl:message>
  <wsdl:message name="IClients_DeleteClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteClientResponse" />
  </wsdl:message>
  <wsdl:message name="IClients_GetClients_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClients" />
  </wsdl:message>
  <wsdl:message name="IClients_GetClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IClients_GetClientsByFIO_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsByFIO" />
  </wsdl:message>
  <wsdl:message name="IClients_GetClientsByFIO_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientsByFIOResponse" />
  </wsdl:message>
  <wsdl:message name="IClients_GetClientByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClientByID" />
  </wsdl:message>
  <wsdl:message name="IClients_GetClientByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClientByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IClients_CountClients_InputMessage">
    <wsdl:part name="parameters" element="tns:CountClients" />
  </wsdl:message>
  <wsdl:message name="IClients_CountClients_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountClientsResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_AddService_InputMessage">
    <wsdl:part name="parameters" element="tns:AddService" />
  </wsdl:message>
  <wsdl:message name="IServices_AddService_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_UpdateService_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateService" />
  </wsdl:message>
  <wsdl:message name="IServices_UpdateService_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_DeleteService_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteService" />
  </wsdl:message>
  <wsdl:message name="IServices_DeleteService_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_RestoreService_InputMessage">
    <wsdl:part name="parameters" element="tns:RestoreService" />
  </wsdl:message>
  <wsdl:message name="IServices_RestoreService_OutputMessage">
    <wsdl:part name="parameters" element="tns:RestoreServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetServices_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServices" />
  </wsdl:message>
  <wsdl:message name="IServices_GetServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServicesResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_GetServiceByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceByID" />
  </wsdl:message>
  <wsdl:message name="IServices_GetServiceByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetServiceByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IServices_CountServices_InputMessage">
    <wsdl:part name="parameters" element="tns:CountServices" />
  </wsdl:message>
  <wsdl:message name="IServices_CountServices_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountServicesResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkers_AddWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:AddWorker" />
  </wsdl:message>
  <wsdl:message name="IWorkers_AddWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkers_UpdateWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWorker" />
  </wsdl:message>
  <wsdl:message name="IWorkers_UpdateWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkers_DeleteWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorker" />
  </wsdl:message>
  <wsdl:message name="IWorkers_DeleteWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkers_GetWorkers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkers" />
  </wsdl:message>
  <wsdl:message name="IWorkers_GetWorkers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkersResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkers_GetWorkersByFIO_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkersByFIO" />
  </wsdl:message>
  <wsdl:message name="IWorkers_GetWorkersByFIO_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkersByFIOResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkers_GetWorkerByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkerByID" />
  </wsdl:message>
  <wsdl:message name="IWorkers_GetWorkerByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWorkerByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkers_CountWorkers_InputMessage">
    <wsdl:part name="parameters" element="tns:CountWorkers" />
  </wsdl:message>
  <wsdl:message name="IWorkers_CountWorkers_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountWorkersResponse" />
  </wsdl:message>
  <wsdl:message name="IWorkers_AuthorizeWorker_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeWorker" />
  </wsdl:message>
  <wsdl:message name="IWorkers_AuthorizeWorker_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthorizeWorkerResponse" />
  </wsdl:message>
  <wsdl:message name="IOrders_AddOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:AddOrder" />
  </wsdl:message>
  <wsdl:message name="IOrders_AddOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrders_UpdateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrder" />
  </wsdl:message>
  <wsdl:message name="IOrders_UpdateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrders_DeleteOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrder" />
  </wsdl:message>
  <wsdl:message name="IOrders_DeleteOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrders_GetOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="IOrders_GetOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrders_GetOrdersByClient_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersByClient" />
  </wsdl:message>
  <wsdl:message name="IOrders_GetOrdersByClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrdersByClientResponse" />
  </wsdl:message>
  <wsdl:message name="IOrders_GetOrderByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByID" />
  </wsdl:message>
  <wsdl:message name="IOrders_GetOrderByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOrderByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IOrders_CountOrders_InputMessage">
    <wsdl:part name="parameters" element="tns:CountOrders" />
  </wsdl:message>
  <wsdl:message name="IOrders_CountOrders_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="IOrders_PrintOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:PrintOrder" />
  </wsdl:message>
  <wsdl:message name="IOrders_PrintOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrintOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IOrders_CalcOrderCost_InputMessage">
    <wsdl:part name="parameters" element="tns:CalcOrderCost" />
  </wsdl:message>
  <wsdl:message name="IOrders_CalcOrderCost_OutputMessage">
    <wsdl:part name="parameters" element="tns:CalcOrderCostResponse" />
  </wsdl:message>
  <wsdl:portType name="IClients">
    <wsdl:operation name="AddClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClients/AddClient" message="tns:IClients_AddClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClients/AddClientResponse" message="tns:IClients_AddClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClients/UpdateClient" message="tns:IClients_UpdateClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClients/UpdateClientResponse" message="tns:IClients_UpdateClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IClients/DeleteClient" message="tns:IClients_DeleteClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClients/DeleteClientResponse" message="tns:IClients_DeleteClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IClients/GetClients" message="tns:IClients_GetClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClients/GetClientsResponse" message="tns:IClients_GetClients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientsByFIO">
      <wsdl:input wsaw:Action="http://tempuri.org/IClients/GetClientsByFIO" message="tns:IClients_GetClientsByFIO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClients/GetClientsByFIOResponse" message="tns:IClients_GetClientsByFIO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClientByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IClients/GetClientByID" message="tns:IClients_GetClientByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClients/GetClientByIDResponse" message="tns:IClients_GetClientByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountClients">
      <wsdl:input wsaw:Action="http://tempuri.org/IClients/CountClients" message="tns:IClients_CountClients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IClients/CountClientsResponse" message="tns:IClients_CountClients_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IServices">
    <wsdl:operation name="AddService">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/AddService" message="tns:IServices_AddService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/AddServiceResponse" message="tns:IServices_AddService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateService">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/UpdateService" message="tns:IServices_UpdateService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/UpdateServiceResponse" message="tns:IServices_UpdateService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteService">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/DeleteService" message="tns:IServices_DeleteService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/DeleteServiceResponse" message="tns:IServices_DeleteService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RestoreService">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/RestoreService" message="tns:IServices_RestoreService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/RestoreServiceResponse" message="tns:IServices_RestoreService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetServices" message="tns:IServices_GetServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetServicesResponse" message="tns:IServices_GetServices_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetServiceByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/GetServiceByID" message="tns:IServices_GetServiceByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/GetServiceByIDResponse" message="tns:IServices_GetServiceByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountServices">
      <wsdl:input wsaw:Action="http://tempuri.org/IServices/CountServices" message="tns:IServices_CountServices_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServices/CountServicesResponse" message="tns:IServices_CountServices_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IWorkers">
    <wsdl:operation name="AddWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkers/AddWorker" message="tns:IWorkers_AddWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkers/AddWorkerResponse" message="tns:IWorkers_AddWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkers/UpdateWorker" message="tns:IWorkers_UpdateWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkers/UpdateWorkerResponse" message="tns:IWorkers_UpdateWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkers/DeleteWorker" message="tns:IWorkers_DeleteWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkers/DeleteWorkerResponse" message="tns:IWorkers_DeleteWorker_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkers">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkers/GetWorkers" message="tns:IWorkers_GetWorkers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkers/GetWorkersResponse" message="tns:IWorkers_GetWorkers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkersByFIO">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkers/GetWorkersByFIO" message="tns:IWorkers_GetWorkersByFIO_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkers/GetWorkersByFIOResponse" message="tns:IWorkers_GetWorkersByFIO_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWorkerByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkers/GetWorkerByID" message="tns:IWorkers_GetWorkerByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkers/GetWorkerByIDResponse" message="tns:IWorkers_GetWorkerByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountWorkers">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkers/CountWorkers" message="tns:IWorkers_CountWorkers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkers/CountWorkersResponse" message="tns:IWorkers_CountWorkers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthorizeWorker">
      <wsdl:input wsaw:Action="http://tempuri.org/IWorkers/AuthorizeWorker" message="tns:IWorkers_AuthorizeWorker_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWorkers/AuthorizeWorkerResponse" message="tns:IWorkers_AuthorizeWorker_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IOrders">
    <wsdl:operation name="AddOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/AddOrder" message="tns:IOrders_AddOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/AddOrderResponse" message="tns:IOrders_AddOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/UpdateOrder" message="tns:IOrders_UpdateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/UpdateOrderResponse" message="tns:IOrders_UpdateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/DeleteOrder" message="tns:IOrders_DeleteOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/DeleteOrderResponse" message="tns:IOrders_DeleteOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/GetOrders" message="tns:IOrders_GetOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/GetOrdersResponse" message="tns:IOrders_GetOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/GetOrdersByClient" message="tns:IOrders_GetOrdersByClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/GetOrdersByClientResponse" message="tns:IOrders_GetOrdersByClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOrderByID">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/GetOrderByID" message="tns:IOrders_GetOrderByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/GetOrderByIDResponse" message="tns:IOrders_GetOrderByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CountOrders">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/CountOrders" message="tns:IOrders_CountOrders_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/CountOrdersResponse" message="tns:IOrders_CountOrders_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrintOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/PrintOrder" message="tns:IOrders_PrintOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/PrintOrderResponse" message="tns:IOrders_PrintOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CalcOrderCost">
      <wsdl:input wsaw:Action="http://tempuri.org/IOrders/CalcOrderCost" message="tns:IOrders_CalcOrderCost_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOrders/CalcOrderCostResponse" message="tns:IOrders_CalcOrderCost_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IClients" type="tns:IClients">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://tempuri.org/IClients/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClient">
      <soap:operation soapAction="http://tempuri.org/IClients/UpdateClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteClient">
      <soap:operation soapAction="http://tempuri.org/IClients/DeleteClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClients">
      <soap:operation soapAction="http://tempuri.org/IClients/GetClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientsByFIO">
      <soap:operation soapAction="http://tempuri.org/IClients/GetClientsByFIO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientByID">
      <soap:operation soapAction="http://tempuri.org/IClients/GetClientByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountClients">
      <soap:operation soapAction="http://tempuri.org/IClients/CountClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IServices" type="tns:IServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddService">
      <soap:operation soapAction="http://tempuri.org/IServices/AddService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateService">
      <soap:operation soapAction="http://tempuri.org/IServices/UpdateService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteService">
      <soap:operation soapAction="http://tempuri.org/IServices/DeleteService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RestoreService">
      <soap:operation soapAction="http://tempuri.org/IServices/RestoreService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServices">
      <soap:operation soapAction="http://tempuri.org/IServices/GetServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetServiceByID">
      <soap:operation soapAction="http://tempuri.org/IServices/GetServiceByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountServices">
      <soap:operation soapAction="http://tempuri.org/IServices/CountServices" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IWorkers" type="tns:IWorkers">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddWorker">
      <soap:operation soapAction="http://tempuri.org/IWorkers/AddWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWorker">
      <soap:operation soapAction="http://tempuri.org/IWorkers/UpdateWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteWorker">
      <soap:operation soapAction="http://tempuri.org/IWorkers/DeleteWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkers">
      <soap:operation soapAction="http://tempuri.org/IWorkers/GetWorkers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkersByFIO">
      <soap:operation soapAction="http://tempuri.org/IWorkers/GetWorkersByFIO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWorkerByID">
      <soap:operation soapAction="http://tempuri.org/IWorkers/GetWorkerByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountWorkers">
      <soap:operation soapAction="http://tempuri.org/IWorkers/CountWorkers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AuthorizeWorker">
      <soap:operation soapAction="http://tempuri.org/IWorkers/AuthorizeWorker" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IOrders" type="tns:IOrders">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddOrder">
      <soap:operation soapAction="http://tempuri.org/IOrders/AddOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
      <soap:operation soapAction="http://tempuri.org/IOrders/UpdateOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
      <soap:operation soapAction="http://tempuri.org/IOrders/DeleteOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="http://tempuri.org/IOrders/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrdersByClient">
      <soap:operation soapAction="http://tempuri.org/IOrders/GetOrdersByClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrderByID">
      <soap:operation soapAction="http://tempuri.org/IOrders/GetOrderByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CountOrders">
      <soap:operation soapAction="http://tempuri.org/IOrders/CountOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrintOrder">
      <soap:operation soapAction="http://tempuri.org/IOrders/PrintOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CalcOrderCost">
      <soap:operation soapAction="http://tempuri.org/IOrders/CalcOrderCost" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="main">
    <wsdl:port name="BasicHttpBinding_IClients" binding="tns:BasicHttpBinding_IClients">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfSERVER/Service1/" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IServices" binding="tns:BasicHttpBinding_IServices">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfSERVER/Service1/" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IWorkers" binding="tns:BasicHttpBinding_IWorkers">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfSERVER/Service1/" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IOrders" binding="tns:BasicHttpBinding_IOrders">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfSERVER/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>